@font-face {
  font-family: 'FontAwesome';
  src: url('public/fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('public/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
display: none !important;
}

body{
	background: transparent;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: #CCD1D9;
}

::-webkit-scrollbar-thumb {
    background: #AAB2BD;
    /* -webkit-border-radius: 1ex; */
    /* -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); */
}

::-webkit-scrollbar-corner {
    /* background: #CCD1D9; */
}

a{
	cursor: pointer;
}

.bonjour-draggable{
	-webkit-app-region: drag;
}

.navbar.bonjour-navbar{
	border-radius: 0 0 0 0;
	margin-bottom: 0px;
	background-color: #0F9D58
	border-color: #0F9D58
}

.toolbar{
	width: 100%;
	position: relative;
	display: inline-block;
}

.bonjour-draggable{
	width: 90%;
	display: inline-block;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

.bonjour-controls{
	display: inline-block;
	width: 10%;
	float: right;
	position: relative;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
}

.bonjour-company-logo{
	position: absolute;
	top: 0px;
	height: 70px;
	background: #71cd9d;
	z-index: 2;
}

.bonjour-company-logo img{
	max-width: 280px;
	max-height: 70px;
	float: right;
}

.navbar-brand img{
	
}

.bonjour-current-user img{
	position: absolute;
	right:0px;
	margin-top:10px;
}

.bonjour-window-control{
	margin-right: 10px;
	font-size: 1.2em;
	color: white;
}

.bonjour-window-control.bonjour-control-maximize{
	right:30px;
}

.bonjour-window-control.bonjour-control-minimize{
	right:60px;
}

.bonjour-window-control:hover{
	color: lightgrey;
}

/* room-controller */
.bonjour-home-controller{

}

.list-group{
	height: 100%;
	overflow-y:auto;
	overflow-x:hidden;
}

a.list-group-item.active,
a.list-group-item.active:focus,
a.list-group-item.active:hover{
	background: #AAB2BD;
	border-color: #AAB2BD;
}

.material-theme-darkgrey {
	background-color: #434A54;
	color: #f1f1f1 !important;
}

.material-theme-white {
	background-color: white;
	color: #434A54 !important;
}

.material-theme-lightgrey{
	background-color: #F5F7FA;
}

.room-topic-list-toolbar{
	min-height: 54px;
}

.room-topic-list-toolbar h2{
	height: 42px;
}