@font-face {
  font-family: 'FontAwesome';
  src: url('public/fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('public/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
display: none !important;
}

body{
	background: transparent;
}

#logo-qiscus{
	height: 64px;
}

#logo-qiscus img{
	height: 36px;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: #CCD1D9;
}

::-webkit-scrollbar-thumb {
    background: #AAB2BD;
    /* -webkit-border-radius: 1ex; */
    /* -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); */
}

::-webkit-scrollbar-corner {
    /* background: #CCD1D9; */
}

a{
	cursor: pointer;
}

.bonjour-draggable{
	-webkit-app-region: drag;
}

.navbar.bonjour-navbar{
	border-radius: 0 0 0 0;
	margin-bottom: 0px;
	background-color: #0F9D58
	border-color: #0F9D58
}

.toolbar{
	width: 100%;
	position: relative;
	display: inline-block;
}

.bonjour-draggable{
	width: 90%;
	display: inline-block;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

.bonjour-controls{
	display: inline-block;
	width: 10%;
	float: right;
	position: relative;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
}

.bonjour-company-logo{
	position: absolute;
	top: 0px;
	height: 70px;
	background: #71cd9d;
	z-index: 2;
}

.bonjour-company-logo img{
	max-width: 280px;
	max-height: 70px;
	float: right;
}

.bonjour-logo{
	width: 304px;
}

.bonjour-current-user img{
	position: absolute;
	right:0px;
	margin-top:10px;
}

.bonjour-window-control{
	margin-right: 10px;
	font-size: 1.2em;
	color: white;
}

.bonjour-window-control.bonjour-control-maximize{
	right:30px;
}

.bonjour-window-control.bonjour-control-minimize{
	right:60px;
}

.bonjour-window-control:hover{
	color: lightgrey;
}

/* room-controller */
.bonjour-home-controller{

}

.list-group{
	height: 100%;
	overflow-y:auto;
	overflow-x:hidden;
}

a.list-group-item.active,
a.list-group-item.active:focus,
a.list-group-item.active:hover{
	background: #AAB2BD;
	border-color: #AAB2BD;
}

.material-theme-darkgrey {
	background-color: #434A54;
	color: #f1f1f1 !important;
}

.material-theme-white {
	background-color: white;
	color: #434A54 !important;
}

.material-theme-lightgrey{
	background-color: #EAEAEA;/* #F5F7FA; */
}

.room-topic-list-toolbar{
	min-height: 48px;
	z-index: 2;
}

.room-topic-list-toolbar h2{
	height: 48px;
}

.bonjour-room-item.active .material-tile-content,
.bonjour-topic-item.active .material-tile-content{
	background-color: #CCD1D9;
}

.bonjour-room-item.active .material-tile-content h2,
.bonjour-room-item.active .material-tile-content h3{
	font-weight: 700;
}


/* ripple effect */

.ripple-container{
	overflow: hidden;
	position: relative;
	user-select:none;
}
ul.ripple {
	background:#EAEAEA;
	width: 100%; margin: 0 auto;
	padding-left: 0px;
	padding-bottom: 1px;
	position: relative;
}
ul.ripple li {
	list-style-type: none;
	/*relative positioning for list items along with overflow hidden to contain the overflowing ripple*/
	position: relative;
	overflow: hidden;
	padding-left: 8px;
	background-color: #F5F7FA;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	margin-bottom: 4px;
}

ul.ripple li.active{
	background-color: hsl(180, 40%, 80%);
}

ul.ripple li a {
	font: normal 14px/28px Cantarell, Arial, sans-serif;
	/* color: hsl(180, 40%, 40%); */
	display: block; 
	padding: 10px 15px;
	text-decoration: none;
	cursor: default; /*since the links are dummy without href values*/
	/*prevent text selection*/
	user-select: none;
	/*static positioned elements appear behind absolutely positioned siblings(.ink in this case) hence we will make the links relatively positioned to bring them above .ink*/
	position: relative;
}

/*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
.ink {
	display: block; position: absolute;
	background: hsl(180, 40%, 80%);
	border-radius: 100%;
	transform: scale(0);
	-webkit-transform: scale(0);
}
/*animation effect*/
.ink.animate {animation: ripple 0.65s linear;-webkit-animation: ripple 0.65s linear;}
@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(2.5);-webkit-transform: scale(2.5);}
}

@-webkit-keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(2.5);-webkit-transform: scale(2.5);}
}


.insert-room.ng-enter{
  -webkit-transform: translate3d(-100%, 0, 0);
  /* -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out-cubic; */
  -webkit-transition-duration: 50ms;
}
.insert-room{
  -webkit-transform:none;
}

.insert-topic.ng-enter{
  -webkit-transform:translate3d(100%, 0, 0);
  /* -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out-cubic; */
  -webkit-transition-duration: 50ms;
}
.insert-topic{
  -webkit-transform:none;
}

.reveal-animation.ng-enter {
  -webkit-animation: enter_sequence 100ms linear; /* Safari/Chrome */
  animation: enter_sequence 100ms linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes enter_sequence {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    -ms-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

/* loader */
.loader{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #F5F7FA;
}

.loader svg{
	position: absolute;
	top: 30%;
	left: 43%;
}

.loader.loader-comment{
	z-index: 0;
}

.loader.loader-comment svg{
	left:45%;
	top: 35%;
}

.loader.loading{
	display: block;
}

.section-post-comment{
	position: relative;
	padding: 5px;
	z-index: 2;
	width: inherit;
}

.section-post-comment .comment-container{
	position: relative;
}

.section-post-comment.loading{
	z-index: -1;
}

.section-post-comment .comment-container #comment{
	position: fixed;
	bottom: 5px;
	min-width: 460px;
	min-height: 67px;
	line-height: 1.6em;
	border:1px solid darkgrey;
	-webkit-border-radius:4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	background: white;
	font-size: 1em;
}


.bonjour-send-comment-button{
	position: fixed;
	bottom: 24px;
	display: none;
}

.bonjour-comment-left,.bonjour-comment-content,.bonjour-comment-content pre{
	font-size: 1rem;
}