<section layout="horizontal" container-height style="position:relative">

          <material-sidenav component-id="left" class="material-sidenav-left material-whiteframe-z1 right" ng-class="{'close':!main.leftStatus}">
            <material-toolbar class="room-topic-list-toolbar material-theme-white material-whiteframe-z1">
            <h2 class="material-toolbar-tools">
              ROOMS
              <material-button class="material-button-fab" style="height:32px;width:32px;left:64%" ng-click="main.toggleLeftMenu()">
                <i class="fa fa-plus"></i>
              </material-button>
            </h2>
            </material-toolbar>
            <material-content class="material-theme-lightgrey bonjour-room-listing">
              <div ng-class="{'loading':rooms.length == 0}" class="loader">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="white">
                  <path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/>
                  <path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z">
                    <animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" />
                  </path>
                </svg>
              </div>
              <ul class="ripple">
                <li ng-repeat="room in rooms" ng-cloak ng-click="selectRoom(room.id);main.showRightMenu();" class="bonjour-room-item insert-room" ng-class="{'active':selected.room.id==room.id}"
              style="-webkit-transition-delay:{{$index * 30}}ms">
                  <a bonjour-ripple>{{ room.name}}</a>
                </li>
              </ul>
            </material-content>
          </material-sidenav>

          <material-content flex class="material-content-padding" style="position:relative;padding:0px">
            <div ng-class="{'loading':selected.topic == null || (selected.topic.comments.length == 0 && selected.topic.isBeingLoaded)}" class="loader loader-comment">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="40" height="40" fill="white">
                  <path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/>
                  <path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z">
                    <animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" />
                  </path>
                </svg>
              </div>
            <section layout="vertical" layout-sm="horizontal" layout-align="center center">
              <material-content class="bonjour-comment-listing material-theme-lightgrey" style="width:100%;padding:16px">
              <ul id="comment-list">
                <li ng-repeat="comment in selected.topic.comments" ng-cloak class="reveal-animation bonjour-comment-item" auto-scroll>
                  <div class="bonjour-comment-left">
                    <img ng-src="{{comment.sender.avatar}}" class="face" alt="{{comment.sender}}">
                    <strong>{{ comment.sender.username }}</strong>
                  </div>
                  <div class="bonjour-comment-content">
                   <pre class="bubble" ng-bind-html="comment.message | linky:'_blank'"></pre>
                 </div>
                </li>
              </ul>
            </material-content>
            </section>
            <section layout="vertical" class="section-post-comment" ng-class="{'loading':selected.topic == null || (selected.topic.comments.length == 0 && selected.topic.isBeingLoaded)}">
              <div class="comment-container">
                <textarea name="comment" id="comment" bonjour-text topic-id="{{selected.topic.id}}" class="msd-elastic bonjour-commentarea" ng-model="commentMessage">
                
                </textarea>
                <!-- <material-button ng-click="sendComment()" class="material-button-raised bonjour-send-comment-button" style="height:30px;margin-left:20px;width:60px">
                  <img src="public/img/send.svg" alt="send" style="margin-top:-4px;">
                </material-button> -->
              </div>
            </section>
          </material-content>

          <material-sidenav component-id="right" class="material-sidenav-right material-whiteframe-z1 right" ng-class="{'close':!main.rightStatus}">
            <material-toolbar class="room-topic-list-toolbar material-theme-white material-whiteframe-z1">
            <h2 class="material-toolbar-tools">
              TOPICS
            </h2>
            </material-toolbar>
            <material-content class="material-theme-lightgrey bonjour-topic-listing">
              <div ng-class="{'loading': selected.room == null || (selected.room.topics.length == 0 && selected.room.isBeingLoaded)}" class="loader">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="white">
                  <path opacity=".25" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"/>
                  <path d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z">
                    <animateTransform attributeName="transform" type="rotate" from="0 16 16" to="360 16 16" dur="0.8s" repeatCount="indefinite" />
                  </path>
                </svg>
              </div>
              <ul class="ripple">
                <li ng-repeat="topic in selected.room.topics" ng-cloak class="bonjour-topic-item insert-topic" ng-click="selectTopic(topic.id)" ng-class="{'active':selected.topic.id==topic.id}" style="-webkit-transition-delay:{{$index * 30}}ms">
                  <a bonjour-ripple>{{ topic.title}}</a>
                </li>
              </ul>
            </material-content>
          </material-sidenav>

</section>
