<material-toolbar class="material-theme-darkgrey material-whiteframe-z1">
	<div layout="horizontal">
		<div class="bonjour-logo">
			<h2 class="material-toolbar-tools" id="logo-qiscus">
				{{ connectivityStatus }}
			</h2>
		</div>
		<div flex class="bonjour-info">
			<section layout="vertical" layout-sm="horizontal" layout-align="center center" style="margin-top:10px">
				
				<material-button ng-if="!isMaximized()" ng-click="openLeftMenu()" class="material-button-raised material-button-colored" style="height:30px">
					Open Left Menu
				</material-button>
				<material-button ng-if="!isMaximized()" ng-click="openRightMenu()" class="material-button-raised material-button-colored" style="height:30px;margin-left:20px">
					Open Right Menu
				</material-button>
				<!--
				<material-button ng-click="createNotification()" class="material-button-raised material-button-colored" style="height:30px;margin-left:20px">
					Open Notif
				</material-button>
				-->
			</section>
		</div>
		<div class="bonjour-tools">
			<img ng-src="{{currentUser.avatar}}" alt="{{currentUser.username}}" class="bonjour-user-face">
			<material-button class="material-button-fab" style="height:32px;width:32px;margin-top:15px;margin-right:10px;backgound-color:darkgrey;" ng-click="refresh()">
				<i class="fa fa-refresh"></i>
			</material-button>
			<!-- 
			<material-button class="material-button-fab" style="height:32px;width:32px;margin-top:15px;margin-right:10px;backgound-color:darkgrey;" ng-click="logout()">
				<i class="fa fa-sign-out"></i>
			</material-button>
			 -->
			 <!-- <div> {{ currentUser.avatar }} </div> -->
		</div>
	</div>
</material-toolbar>
