          <material-sidenav component-id="left" class="material-sidenav-left material-whiteframe-z1 right">
            <material-toolbar class="room-topic-list-toolbar material-theme-white material-whiteframe-z1">
            <h2 class="material-toolbar-tools">
              ROOMS
            </h2>
            </material-toolbar>
            <material-content room-topic-list-height class="material-theme-lightgrey">
              <material-list>
               <material-item ng-repeat="room in rooms" ng-cloak ng-click="selectRoom(room.id);main.openRightMenu();" class="bonjour-room-list" ng-class="{'active':currentRoom.id==room.id}">
                 <div class="material-tile-left">
                   <!-- <img ng-src="http://placekitten.com/200/300" class="face" alt="{{item.who}}"> -->
                 </div>
                 <div class="material-tile-content">
                   <h2>{{ room.name}}</h2>
                   <h3>Raw denim you probably haven't heard of them</h3>
                 </div>
               </material-item>
              </material-list>
            </material-content>
          </material-sidenav>

          <material-content flex class="material-content-padding">
            Center Content hahahahahaha
            <section layout="vertical" layout-sm="horizontal" layout-align="center center">
              <material-button ng-click="main.openLeftMenu()" class="material-button-raised material-button-colored" style="height:30px">
                Open Left Menu
              </material-button>
              <material-button ng-click="main.openRightMenu()" class="material-button-raised material-button-colored" style="height:30px">
                Open Right Menu
              </material-button>
            </section>
            
            
          </material-content>

          <material-sidenav component-id="right" class="material-sidenav-right material-whiteframe-z1 right">
            <material-toolbar class="room-topic-list-toolbar material-theme-white material-whiteframe-z1">
            <h2 class="material-toolbar-tools">
              TOPICS
            </h2>
            </material-toolbar>
            <material-content room-topic-list-height class="material-theme-lightgrey">
              {{loadingTopic}}
              <material-list>
               <material-item ng-repeat="topic in currentRoom.topics" ng-cloak class="bonjour-topic-list" ng-class="{'active':currentRoom.lastActiveTopic.id==topic.id}">
                 <div class="material-tile-left">
                   <!-- <i class="fa fa-comment" style="font-size:24px"></i> -->
                 </div>
                 <div class="material-tile-content">
                   <h2>{{ topic.title }}</h2>
                   <h3>Raw denim you probably haven't heard of them</h3>
                 </div>
               </material-item>
              </material-list>
            </material-content>
          </material-sidenav>